* {
  box-sizing: border-box;
}

body {
  background-color: darkblue;

}

.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 6px black solid;
  background-color: whitesmoke;
}

.fill {
  background-image: url('https://source.unsplash.com/ramdom/100x100');
  position: relative;
  height: 137px;
  width: 140px;
  top: 6px;
  left: 4px;
  cursor: pointer;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  background: #0000;
  border-style: dashed;
}

.invisible {
  display:none;
}

@media (max-width: 800px) {
}