* {
  box-sizing: border-box;
}

body {
  background-color: darkblue;

}

.empty {

}

.fill {
  background-image: url('https://images.unsplash.com/ramdom/150x150');
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.hold {
  border: ;
}

.hovered {
  : dashed;
}

@media (max-width: 800px) {
}