* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: darkblue;
}

.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 3px white solid;
  background-color: white;
}

.fill {
  background-image: url('./the-power-of-small.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 140px;
  width: 140px;
  top: 6px;
  left: 7px;
  cursor: pointer;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  background: black;
  border-style: dashed;
}

.invisible {
  display:none;
}

@media (max-width: 800px) {
  body{
    display: flex;
    flex-wrap:wrap;
  }
  /* .empty{
    width: 100px;
  /}
  .fill{
    width: 50px;
  /} */
}